/*carrusel del home*/


.containerGeneral {
   text-align: center;
   justify-content: center;
   align-items: center;
   display: flex;
   width: 100%;
   margin: 0;
   padding: 0;
}


@keyframes background {
   100% {
      background-size: 7000px 2000px;
   }
}

.container_all {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   background: #9978e6;
   background-image: url('../../assets/Stacked\ Wave.svg');
   background-size: 4000px 2000px;
   background-position: -500px 0;
   animation: background 10s infinite linear alternate-reverse;
   gap: 40px;
   padding: 60px;
}


@media (max-width:1360px) {
   .container_all {
      display:grid;
      place-items: center;
      grid-template-columns: 1fr;
      background-color: #9978e6;
      background-attachment: fixed;
      animation: background 10x infinite linear alternate;
   }
}


.background{
   background-color: #262831;
}

.name_prod{
   padding: 40px;
   display: flex;
   justify-content: space-around;
   font-family: var(--font-family-brands);
   color: #95c827;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 90px;
  height: 24px;
  padding: 2px 0;
  box-sizing: border-box;
  display: flex;
  animation: l5-0 3s infinite steps(6);
  background:
    linear-gradient(#000 0 0) 0 0/0% 100% no-repeat,
    radial-gradient(circle 3px,#eeee89 90%,#0000) 0 0/20% 100%
    #000;
  overflow: hidden;
}
.loader::before {
  content: "";
  width: 20px;
  transform: translate(-100%);
  border-radius: 50%;
  background: #ffff2d;
  animation: 
    l5-1 .25s .153s infinite steps(5) alternate,
    l5-2  3s        infinite linear;
}
@keyframes l5-1{ 
    0% {clip-path: polygon(50% 50%,100%   0,100% 0,0 0,0 100%,100% 100%,100% 100%)}
  100% {clip-path: polygon(50% 50%,100% 65%,100% 0,0 0,0 100%,100% 100%,100%  35%)}
}
@keyframes l5-2{ 
  100% {transform: translate(90px)}
}
@keyframes l5-0{ 
  100% {background-size:120% 100%,20% 100%}
}

/* HTML: <div class="loader"></div> */
.loader {
   width: 90px;
   height: 24px;
   padding: 2px 0;
   box-sizing: border-box;
   display: flex;
   animation: l5-0 3s infinite steps(6);
   background:
     linear-gradient(#000 0 0) 0 0/0% 100% no-repeat,
     radial-gradient(circle 3px,#eeee89 90%,#0000) 0 0/20% 100%
     #000;
   overflow: hidden;
 }
 .loader::before {
   content: "";
   width: 20px;
   transform: translate(-100%);
   border-radius: 50%;
   background: #ffff2d;
   animation: 
     l5-1 .25s .153s infinite steps(5) alternate,
     l5-2  3s        infinite linear;
 }
 @keyframes l5-1{ 
     0% {clip-path: polygon(50% 50%,100%   0,100% 0,0 0,0 100%,100% 100%,100% 100%)}
   100% {clip-path: polygon(50% 50%,100% 65%,100% 0,0 0,0 100%,100% 100%,100%  35%)}
 }
 @keyframes l5-2{ 
   100% {transform: translate(90px)}
 }
 @keyframes l5-0{ 
   100% {background-size:120% 100%,20% 100%}
 }
