/* .form-login-container {
    background-color: #343743;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tittle-h3 {
    background-color: #95c827;
    border-radius: 25px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5px;
    padding: 2px;
}

.btns-reg-log {
    display: flex;
    justify-content: space-around;
    align-items: center;   
}
.form-register {
    background-color: #262831;
    border: 2px solid #95c827;
    border-radius: 25px;
    margin-bottom: 35px;
    padding: 15px;
}

.form-login {
    background-color: #262831;
    border: 2px solid #95c827;
    border-radius: 25px;
    margin-bottom: 35px;
    padding: 15px;
}

.btn-submit {
    background-color: #95c827;
    border-radius: 8px;
    padding: 5px 10px;
    font-weight: bold;
}

.btn-submit:hover {
    opacity: 0.7;
}


.btn-submit:active {
    transform: scale(0.9);
    border: 1px solid #edf0e7;
}

.form-login-container input:is(:hover, :focus-visible){
    outline: 2px solid  #95c827;
} */


.form-login-container {
    background-color: #343743;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tittle-h3 {
    background-color: #95c827;
    border-radius: 25px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5px;
    padding: 2px;
}

.btns-reg-log {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .form-register,
.form-login {
    background-color: #262831;
    border: 2px solid #95c827;
    border-radius: 25px;
    margin-bottom: 35px;
    padding: 15px;
} */

.btn-submit {
    background-color: #95c827;
    border-radius: 8px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s, border 0.3s;
}

.btn-submit:hover {
    opacity: 0.7;
}

.btn-submit:active {
    transform: scale(0.9);
    border: 1px solid #edf0e7;
}

.form-login-container input:is(:hover, :focus-visible) {
    outline: 2px solid #95c827;
}

/* Apply styles to form inputs */
.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Apply styles to form texts */
.form-text {
    font-size: 14px;
    color: #ccc;
    margin-top: 5px;
}



/* ... Tu CSS actual ... */

.form-register {
    /* ... Estilos actuales ... */
    background-color: #262831;
    border: 2px solid #95c827;
    border-radius: 25px;
    margin-bottom: 35px;
    padding: 15px;
    animation: slideInLeft 0.5s ease;
    display: none;
}

.form-login {
    /* ... Estilos actuales ... */
    background-color: #262831;
    border: 2px solid #95c827;
    border-radius: 25px;
    margin-bottom: 35px;
    padding: 15px;
    animation: slideInRight 0.5s ease;
    display: none;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

/* Agregamos una clase para mostrar el formulario de inicio de sesión */
.show-login-form {
    background-color: #262831;
    border: 2px solid #95c827;
    border-radius: 25px;
    margin-bottom: 35px;
    padding: 15px;
    display: block;
    animation: slideInLeft 0.5s ease;
}

/* Agregamos una clase para mostrar el formulario de registro */
.show-register-form {
    background-color: #262831;
    border: 2px solid #95c827;
    border-radius: 25px;
    margin-bottom: 35px;
    padding: 15px;
    display: block;
    animation: slideInRight 0.5s ease;
}


  